<p class="h2 text-center py-1">Loading..</p>

<div class="d-flex justify-content-center mb-3">
  <div class="progress bg-grey-900" role="progressbar" aria-label="Animated striped example"
    [aria-valuenow]="progress()" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped bg-green" [style.width]="`${progress()}%`"></div>
  </div>
</div>

<p class="text-center text-grey-900">(First load can take up <span class="fw-bold">30s</span>, because free-trier
  backend
  deployment)</p>