<div class="page-title-container  d-flex justify-content-between align-items-center">
  <h1 class="page-title">Transactions</h1>
  <button class="btn btn-dark p-3" (click)="openModal()">
    + Add Transaction
  </button>
</div>

@if (!paginatedData()) {
<p class="h2 text-center py-5">Loading..</p>
} @else {

<div class="custom-card d-flex flex-column justify-content-between text-grey-500">
  <!-- Input fields -->
  <div class="input-section row pt-2 pb-3">
    <div class="col-9 col-md-6 pe-0">
      <input type="text" class="form-control search-input" placeholder="Search transaction"
        [(ngModel)]="searchFieldValue" />
    </div>

    <div class="col row ">
      <!-- Only mobile input fields  -->
      <div class="sort-icons-container d-flex gap-3 px-0 pe-2 justify-content-end">
        <button class="btn p-0 m-0 d-md-none d-md-grid align-self-center" (click)="toggleMobileSortOpen()">
          <img src="/images/icon-sort-mobile.svg" alt="">
        </button>
        <button class="btn p-0 m-0 d-md-none d-md-grid align-self-center" (click)="toggleMobileCategorySelectOpen()">
          <img src="/images/icon-filter-mobile.svg" alt="">
        </button>

        @if (mobileSortOpen()) {

        <!-- Sorting options popup -->
        <ul class="sort-popup--order px-3 list-group fs-7" #mobileSortMenu>
          <li class=" list-group-item">Sort by</li>
          <li class="list-group-item pe-5" [ngClass]="{'fw-bold text-black': sortValue() === 'date'}"
            (click)="clickOnSortOption('date')">Latest</li>
          <li class="list-group-item pe-5" [ngClass]="{'fw-bold text-black': sortValue() === 'dateReverse'}"
            (click)="clickOnSortOption('dateReverse')">Oldest
          </li>
          <li class="list-group-item pe-5" [ngClass]="{'fw-bold text-black': sortValue() === 'name'}"
            (click)="clickOnSortOption('name')">A - Z</li>
          <li class="list-group-item pe-5" [ngClass]="{'fw-bold text-black': sortValue() === 'nameReverse'}"
            (click)="clickOnSortOption('nameReverse')">Z - A
          </li>
          <li class="list-group-item pe-5" [ngClass]="{'fw-bold text-black': sortValue() === 'amount'}"
            (click)="clickOnSortOption('amount')">Highest</li>
          <li class="list-group-item pe-5" [ngClass]="{'fw-bold text-black': sortValue() === 'amountReverse'}"
            (click)="clickOnSortOption('amountReverse')">Oldest
          </li>
        </ul>
        }

        <!-- Category select popup -->
        @if (mobileCategorySelectOpen()) {
        <ul class="sort-popup--order px-3 list-group fs-7" #categorySelectMenu>
          <li class=" list-group-item">Category</li>
          <li class="list-group-item pe-5" [ngClass]="{'fw-bold': categoryValue() === ''}"
            (click)="categoryValue.set('')">All</li>

          @for (category of categories(); track category) {
          <li class="list-group-item " [ngClass]="{'fw-bold': category === categoryValue()}"
            (click)="clickOnCategoryOption(category)">{{category}}</li>

          }
        </ul>
        }
      </div>


      <!-- Only desktop input fields  -->
      <div class="col d-none d-md-flex align-items-center text-nowrap gap-2">
        <label for="sortby">Sort by</label>
        <select id="sortby" class="form-select" [(ngModel)]="sortValue">
          <option value="date">Latest</option>
          <option value="dateReverse">Oldest</option>
          <option value="name">A - Z</option>
          <option value="nameReverse">Z - A</option>
          <option value="amount">Highest</option>
          <option value="amountReverse">Lowest</option>
        </select>
      </div>

      <div class="col d-none d-md-flex align-items-center text-nowrap gap-2">
        <label for="category">category</label>
        <select id="category" class="form-select" [(ngModel)]="categoryValue">
          <option value="">All</option>
          @for (category of categories(); track category) {
          <option [value]="category">{{ category }}</option>
          }
        </select>
      </div>
    </div>
  </div>



  <div class="list-group ">
    <!-- Info line -->
    <div class="list-group-item d-none d-md-grid">
      <span>Recipient/sender</span>
      <span>Category</span>
      <span>Transaction Date</span>
      <span class="amount">Amount</span>
    </div>

    <!-- Transaction elements -->

    @for (transaction of paginatedData(); track transaction.id) {
    <div class="transaction-item list-group-item">
      <div class="d-flex ">
        <div class="avatar-container">
          <img [src]="transaction.avatar" alt="" class="profile-image rounded-circle" width="40" height="40" />
        </div>
        <div class="d-flex flex-column justify-content-center ms-2">
          <span class="fw-bold fs-7 text-black">
            {{ transaction.name }}
          </span>
          <span class="d-sm-none"> {{ transaction.category }} </span>
        </div>
      </div>

      <span class="d-none d-sm-inline"> {{ transaction.category }} </span>

      <span class="d-none d-sm-inline"> {{ transaction.date | date : "dd MMM yyyy" }} </span>

      <div class="d-flex flex-column justify-content-center align-items-end">
        <span class="amount" [ngClass]="{
            'text-green': transaction.amount >= 0,
            'text-black': transaction.amount < 0
          }">
          {{ transaction.amount | currency }}
        </span>
        <span class="d-sm-none"> {{ transaction.date | date : "dd MMM yyyy" }} </span>
      </div>

    </div>
    }
  </div>
  <!-- Pagination -->
  <nav aria-label="pagination controls" class="pt-4">
    <ul class="pagination d-flex justify-content-between">
      <li class="page-item" (click)="stepPrevPage()">
        <div class="page-link">
          <img class="arrow" src="/images/icon-caret-left.svg" alt="" />
          <span class="control-text">Previous</span>
        </div>
      </li>
      <!-- Pages -->
      <div class="d-flex">
        @for (number of pageNumbers(); track number) {
        <li class="page-item" (click)="stepToPage(number)">
          <span class="page-link" [ngClass]="{ active: number === currentPage() }">
            {{ number }}
          </span>
        </li>
        }
      </div>

      <li class="page-item" (click)="stepNextPage()">
        <div class="page-link">
          <span class="control-text">Next </span>
          <img class="arrow" src="/images/icon-caret-right.svg" alt="" />
        </div>
      </li>
    </ul>
  </nav>
</div>
}