@use "../../../../../styles/variables" as *;

.avatar {
  width: 32px;
}

.progress-body {
  height: 32px;
  width: 100%;
  border-radius: 6px;
  background-color: map-get($theme-colors, beige-100);
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  border-radius: 6px;
  width: 100%;
}

.list-group-item:nth-child(2) {
  border-top: none;
}

.list-group-item:last-child {
  border-bottom: none;
}

.budget-form {
  isolation: isolate;
  position: relative;
}

.form-select {
  z-index: 100;
}

.button {
  z-index: -0;
}
