<button (click)="openModal()" class="btn btn-primary fs-1">open modal</button>

<div
  class="modal"
  [ngClass]="{
    'visible': modalOpened(),
  }"
  tabindex="-1"
  #modal
  (click)="onBackdropClick($event)"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="closeModal()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
