<div class="modal" tabindex="-1" #modal (click)="onBackdropClick($event)">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-card text-black">
      <!-- Header -->
      <header class="">
        <div class="d-flex justify-content-between align-items-center pb-2">
          <p class="modal-title fs-2 fw-bold">{{ title() }}</p>
          <button
            type="button"
            class="button btn-close border border-2 border-black rounded-circle p-2"
            aria-label="Close"
          ></button>
        </div>
        <p class="fs-7 text-grey-500">{{ subTitle() }}</p>
      </header>
      <!-- Body -->
      <div class="modal-body">
        <ng-content />
      </div>
    </div>
  </div>
</div>
