<div class="modal" tabindex="-1" #modal (click)="onBackdropClick($event)">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-card text-black">
      <header class="">
        <div class="d-flex justify-content-between align-items-center pb-2">
          <!-- Title -->
          <p class="modal-title fs-2 fw-bold">
            @if (currentFormType() == 'add-budget') {
            Add New Budget
            }

            @if (currentFormType() === 'edit-budget') {
            Edit Budget
            }
            @if (currentFormType() === 'delete-budget') {
            Delete '{{budgetService.activeBudget().category}}'?
            }

            @if (currentFormType() === 'add-pot') {
            Add New Pot
            }

            @if (currentFormType() === 'edit-pot') {
            Edit Pot
            }

            @if (currentFormType() === 'delete-pot') {
            Delete '{{potService.activePot().name}}'?
            }

            @if (currentFormType() === 'add-to-pot') {
            Add to '{{potService.activePot().name}}'?
            }

            @if (currentFormType() === 'withdraw-from-pot') {
            Withdraw from '{{potService.activePot().name}}'?
            }
          </p>
          <button type="button" class="button btn-close border border-2 border-black rounded-circle p-2"
            aria-label="Close" (click)="closeModal()"></button>
        </div>

        <!-- Sub-title -->
        <p class="fs-7 text-grey-500">
          @if (currentFormType() == 'add-budget') {
          Choose a category to set a spending budget. These categories can help you monitor spending.
          }

          @if (currentFormType() === 'edit-budget') {
          As your budgets change, feel free to update your spending limits
          }
          @if (currentFormType() === 'delete-budget') {
          Are you sure you want to delete this budget? This action cannot be reversed, and all the data inside it will
          be removed
          forever.
          }

          @if (currentFormType() === 'add-pot') {
          Create a pot to set savings targets. These can help keep you on track as you save for special purchases.
          }

          @if (currentFormType() === 'edit-pot') {
          If your saving targets change, feel free to update your pots.
          }

          @if (currentFormType() === 'delete-pot') {
          Are you sure you want to delete this pot? This action cannot be reversed, and all the data inside it will
          be removed
          forever.
          }
        </p>
      </header>

      <!-- Body -->
      <div class="modal-body">
        @if (currentFormType() == 'add-budget') {
        <app-add-budget-form />
        }

        @if (currentFormType() === 'edit-budget') {
        <app-edit-budget-form />
        }

        @if (currentFormType() === 'delete-budget') {
        <app-delete-budget-form />
        }

        @if (currentFormType() === 'add-pot') {
        <app-add-pot-form />
        }

        @if (currentFormType() === 'edit-pot') {
        <app-edit-pot-form />
        }

        @if (currentFormType() === 'delete-pot') {
        <app-delete-pot-form />
        }

      </div>
    </div>
  </div>
</div>