.hidden {
  display: none;
}

.modal {
  backdrop-filter: brightness(0.5);
  opacity: 0;

  transition: opacity 300ms ease;
}

.visible {
  opacity: 1;
  transition: opacity 300ms ease;
}

.modal-footer {
  border-top: none;
}
