<div class="page-title page-title-container">
  <h1 class="page-title">{{"app.pages.overview.title" | translate}}</h1>
</div>

@if (!allLoaded()) {
<app-loading-status></app-loading-status>
} @else {

<!-- Total balance cards line -->
<div class="row g-3 mb-5">
  <div class="col-12 col-sm-4">
    <div class="custom-card bg-grey-900 text-white">
      <h2 class="fs-7 fw-normal text-white">{{"app.pages.overview.cardBalance" | translate}}</h2>
      <p class="fs-3 fw-bold mb-0 pt-1">{{ balanceData()?.current | currency }}</p>
    </div>
  </div>

  <div class="col-12 col-sm-4">
    <div class="custom-card">
      <h2 class="fs-7 fw-normal text-grey-500">{{"app.pages.overview.cardIncome" | translate}}</h2>
      <p class="fs-3 fw-bold mb-0 pt-1">{{ balanceData()?.income | currency }}</p>
    </div>
  </div>

  <div class="col-12 col-sm-4">
    <div class="custom-card">
      <h2 class="fs-7 fw-normal text-grey-500">{{"app.pages.overview.cardExpenses" | translate}}</h2>
      <p class="fs-3 fw-bold mb-0 pt-1">{{ balanceData()?.expenses | currency }}</p>
    </div>
  </div>
</div>

<section class="row">
  <div class="col-12 col-xl-7 d-flex flex-column">
    <!-- Pots -->
    <div class="custom-card mb-3 flex-grow-1">
      <div class="d-flex justify-content-between align-items-center pb-3">
        <h2 class="fs-5 fw-bold">{{"app.pages.overview.cardPots" | translate}}</h2>
        <a class="navlink" routerLink="/pots">{{"app.pages.overview.linkDetails" | translate}}
          <img class="ms-2" src="/images/icon-caret-right.svg" alt="" />
        </a>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="custom-card position-relative bg-beige-100 py-3 text-center">
            <p class="fs-7 text-grey-500 my-2">{{"app.pages.overview.totalSaved" | translate}}</p>
            <p class="fs-3 fw-bold m-0">${{ totalSavedPots() }}</p>
            <img class="pot-icon" src="/images/icon-pot.svg" alt="" />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="grid-container h-100 pt-3 pt-sm-0">
            @for (pot of pots(); track pot.id) {
            <app-list-item [name]="pot.name" [value]="pot.total" [borderColor]="pot.theme" />
            }
          </div>
        </div>
      </div>
    </div>

    <!-- Transactions -->
    <div class="custom-card mb-3 mb-xl-0">
      <div class="d-flex justify-content-between align-items-center pb-3">
        <h2 class="fs-5 fw-bold">{{"app.pages.overview.cardTransactions" | translate}}</h2>
        <a class="navlink" routerLink="/transactions">{{"app.pages.overview.linkViewAll" | translate}}
          <img class="ms-2" src="/images/icon-caret-right.svg" alt="" />
        </a>
      </div>

      <div>
        <div class="list-group">
          @for (transaction of transactions(); track transaction.id) {
          <div class="list-group-item d-felx justify-content-between">
            <div class="d-flex align-items-center gap-3">
              <img class="avatar" [src]="transaction.avatar.replace('/assets', '')" alt="" />
              <p class="m-0 fs-7 fw-bolder">
                {{ transaction.name }}
              </p>
            </div>

            <div class="text-end">
              <p [ngClass]="{ 'text-green': transaction.amount > 0 }" class="fs-7 fw-bold mb-0">
                {{ transaction.amount | currency }}
              </p>
              <p class="fs-8 text-grey-500 mb-0">
                {{ transaction.date | date }}
              </p>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-5 d-flex flex-column">
    <!-- Budgets -->
    <div class="custom-card mb-3">
      <div class="d-flex justify-content-between align-items-center pb-3">
        <h2 class="fs-5 fw-bold">{{"app.pages.overview.cardBudgets" | translate}}</h2>
        <a class="navlink" routerLink="/budgets">{{"app.pages.overview.linkDetails" | translate}}
          <img class="ms-2" src="/images/icon-caret-right.svg" alt="" />
        </a>
      </div>

      <div class="row">
        <div class="col-12 col-sm-8 d-flex justify-content-center">
          <app-chart></app-chart>
        </div>
        <div class="grid-container budgets col-12 col-sm-4 pt-4 pt-sm-0">
          @for (budget of budgets(); track budget.id) {
          <app-list-item [name]="budget.category" [value]="budget.spentThisMonth * -1" [borderColor]="budget.theme" />
          }
        </div>
      </div>
    </div>

    <!-- Recurrings -->
    <div class="custom-card flex-grow-1">
      <div class="d-flex justify-content-between align-items-center pb-3">
        <h2 class="fs-5 fw-bold">{{"app.pages.overview.cardRecurrings.title" | translate}}</h2>
        <a class="navlink" routerLink="/recurring-bills">{{"app.pages.overview.linkDetails" | translate}}
          <img class="ms-2" src="/images/icon-caret-right.svg" alt="" />
        </a>
      </div>

      <div class="custom-card d-flex justify-content-between align-items-center bg-beige-100 px-3 py-4 mb-3"
        [style.borderLeft]="'4px solid'" [style.borderColor]="paidBills()?.theme">
        <span class="text-grey-500 fs-7">{{"app.pages.overview.cardRecurrings.paidBills" | translate}}</span>

        @if (paidBills()?.bills) {
        <span class="fs-7 fw-bold">
          {{

          getTotalAmount(paidBills()!.bills) * -1 | currency
          }}
        </span>
        }
      </div>

      <div class="custom-card d-flex justify-content-between align-items-center bg-beige-100 px-3 py-4 mb-3"
        [style.borderLeft]="'4px solid'" [style.borderColor]="upcomingBills()?.theme">
        <span class="text-grey-500 fs-7">{{"app.pages.overview.cardRecurrings.upcoming" | translate}}</span>
        @if (upcomingBills()?.bills) {

        <span class="fs-7 fw-bold">{{
          getTotalAmount(upcomingBills()!.bills) * -1 | currency
          }}</span>
        }
      </div>

      <div class="custom-card d-flex justify-content-between align-items-center bg-beige-100 px-3 py-4"
        [style.borderLeft]="'4px solid'" [style.borderColor]="dueSoonBills()?.theme">
        <span class="text-grey-500 fs-7">{{"app.pages.overview.cardRecurrings.dueSoon" | translate}}</span>

        @if(dueSoonBills()?.bills) {
        <span class="fs-7 fw-bold">{{
          getTotalAmount(dueSoonBills()!.bills) * -1 | currency
          }}
        </span>
        }
      </div>
    </div>
  </div>
</section>

}