@use "../../../styles/variables" as *;

.navlink {
  text-decoration: none;
  color: map-get($theme-colors, grey-500);
  display: flex;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  align-items: center;
}

.grid-container.budgets {
  @media (min-width: $tabletAndUp) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 15%;
  }
  @media (min-width: $desktopAndUp) {
    padding-left: revert;
    padding-inline: 0;
  }
}

.pot-icon {
  position: absolute;
  left: 14%;
  top: 50%;
  transform: translateY(-50%);
}

.avatar {
  width: 40px;
  border-radius: 100%;
}

.list-group-item:nth-child(1) {
  border-top: none;
}

.list-group-item:last-child {
  border-bottom: none;
}
