html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktopAndUp) {
    display: revert;
    flex-grow: revert;
  }
}

// Bootstrap class overrides
.list-group-item {
  background-color: transparent;
  border-inline: none;
}

// Scrollbar hidden utility
.overflow-scroll-hidden {
  @media (min-width: $desktopAndUp) {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
.overflow-scroll-hidden::-webkit-scrollbar {
  display: none;
}

// font utilities
.fs-7 {
  font-size: (14rem/16);
}

.fs-8 {
  font-size: (12rem/16);
}

.lh-0 {
  line-height: 0;
}

// Global custom rules
.page-title-container {
  padding-bottom: 24px;
}
.page-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: map-get($theme-colors, grey-900);
}

// Card component
.custom-card {
  background-color: white;
  border-radius: 12px;
  padding: 24px 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 0;
}
