html,
body {
  height: 100vh;
}

body {
  background-image: linear-gradient(to right, #201f24 50%, #f8f4f0 60%);
}

// Bootstrap class overrides
.list-group-item {
  background-color: transparent;
  border-inline: none;
}

.form-label {
  font-size: 14px;
  font-weight: bolder;
  color: map-get($theme-colors, "grey-500");
}

// Scrollbar hidden utility
.overflow-scroll-hidden {
  @media (min-width: $desktopAndUp) {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
.overflow-scroll-hidden::-webkit-scrollbar {
  display: none;
}

// font utilities
.fs-7 {
  font-size: (14rem/16);
}

.fs-8 {
  font-size: (12rem/16);
}

.lh-0 {
  line-height: 0;
}

// Global custom rules
.page-title-container {
  padding-bottom: 24px;
}
.page-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: map-get($theme-colors, grey-900);
}

html.modal.visible {
  height: 100vh;
  overflow-y: hidden;
}

// Card component
.custom-card {
  background-color: white;
  border-radius: 12px;
  padding: 24px 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 0;
}

// animations

.enter {
  animation: fade-in 1500ms;
}

.leave {
  animation: fade-out 350ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes shrink-header {
  from {
    width: 300px;
  }
  to {
    width: auto;
  }
}
