<div class="custom-select mb-3">
  <div
    class="selected h-100 d-flex justify-content-start align-items-center ms-4"
    (click)="toggleOpen()"
  >
    @if (value()) {
    <div
      class="p-2 rounded-circle"
      [style.backgroundColor]="value().color"
    ></div>
    <span class="ms-2">{{ value().name }}</span>
    }
  </div>
  @if (isOpened()) {
  <ul class="list-group bg-white px-2" #optionsList>
    @for (option of options(); track option) {
    <li
      [value]="option.name"
      (click)="select(option)"
      class="list-group-item d-flex align-items-center justify-content-between px-3 py-2"
      [ngClass]="{ 'opacity-50': option.inUse }"
    >
      <div class="d-flex align-items-center">
        <div
          class="p-2 rounded-circle"
          [style.backgroundColor]="option.color"
        ></div>
        <span class="ms-3">{{ option.name }}</span>
      </div>

      <span class="fs-8">{{ option.inUse ? "Already used" : "" }}</span>
    </li>
    }
  </ul>
  }
</div>
