@use "../styles/variables" as *;

.data-container {
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $desktopAndUp) {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
}

.header {
  @media (min-width: $desktopAndUp) {
    width: 300px;
  }
}

.main {
  min-height: 0;
  flex: 1;

  @media (min-width: $desktopAndUp) {
    overflow-y: scroll;
  }
}
