@use "../styles/variables" as *;

.app-container {
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: map-get($theme-colors, "beige-100");

  @media (min-width: $desktopAndUp) {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
}

.logo-container {
  display: none;
  position: relative;

  @media (min-width: $desktopAndUp) {
    display: block;
  }
}

.logo {
  position: absolute;
  left: 2rem;
}

.header {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  padding-bottom: 4px;
  padding-inline: 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  @media (min-width: $desktopAndUp) {
    position: revert;
    border-top-left-radius: revert;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 300px;
    transition: width 600ms ease;
    padding-right: 1.5rem;
  }
}

.shrink-header {
  width: 100px;
  padding-right: 0.5rem;
  transition: width 600ms ease;
}

.main {
  min-height: 0;
  flex: 1;
  padding-top: 70px !important;

  @media (min-width: $tabletAndUp) {
    padding-top: 100px !important;
  }

  @media (min-width: $desktopAndUp) {
    padding-top: 32px !important;
    overflow-y: scroll;
  }
}

.toggle {
  position: relative;
}

.toggle:hover {
  cursor: pointer;
  color: white !important;
}

.toggle:hover .icon path {
  fill: white;
}

.minimize-text {
  position: absolute;
  left: 60px;
  text-wrap: none;
  white-space: nowrap;
}

.icon {
  transform: rotate(0deg);
  transition: transform 300ms ease;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 300ms ease;
}

.logout-button {
  display: none;

  @media (min-width: $desktopAndUp) {
    display: block;
  }
}
