<app-auth-layout>

  @if (!succeed()) {
  <form class="custom-card login-form " #form="ngForm" (ngSubmit)="register(form)">
    <p class="fs-2 fw-bold">{{"app.register.title" | translate}}</p>

    <!-- username -->
    <label class="form-label" for="username">{{"app.register.titleUsername" | translate}}</label>
    <input class="form-control mb-3" type="text" id="username" name="username" [(ngModel)]="usernameInput" required />
    @if (submitted() && form.controls['username'].invalid) {
    <p class="text-red mb-3 fs-7">Username is required</p>
    }

    <!-- email -->
    <label class="form-label" for="text">{{"app.register.titleEmail" | translate}}</label>
    <input class="form-control mb-3" type="email" id="email" name="email" [(ngModel)]="emailInput" required
      pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z]{2,}$" />
    @if (submitted() && form.controls['email'].invalid) {
    <p class="text-red mb-3 fs-7">Email is invalid</p>
    }

    <!-- password -->
    <label class="form-label" for="password">{{"app.register.titlePassword" | translate}}</label>
    <input class="form-control mb-3" type="password" id="password" name="password" [(ngModel)]="passwordInput" required
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$" />
    @if (submitted()) {
    @if (form.controls['password'].invalid) {
    <p class="text-red mb-1 fs-7">Large and Small size characers</p>
    <p class="text-red mb-1 fs-7">At least 6 characters</p>
    <p class="text-red mb-3 fs-7">At least one number</p>
    }
    }

    <!-- consfirm password -->
    <label class="form-label" for="passwordConfirm">{{"app.register.titleConfirmPassword" | translate}}</label>
    <input class="form-control mb-5" type="password" id="passwordConfirm" name="passwordConfirm"
      [(ngModel)]="passwordConfirmInput" />
    @if (submitted() && !validatePasswordConfirm()) {
    <p class="text-red mb-3 fs-7">Passwords do not match</p>
    }

    <!-- register button -->
    <button class="btn btn-dark w-100 fs-7 py-2 mt-0 mb-4" [disabled]="registerLoading()" type="submit">
      <span class="container-span">
        <span class="absolute-span">
          <span class="spinner-border spinner-border-sm" aria-hidden="true"
            [ngClass]="{'invisible': !registerLoading()}"></span>
        </span>
        <span>{{"app.register.buttonRegister" | translate}}</span>
      </span>
    </button>

    <!-- Back to login button -->
    <button class="btn btn-dark w-100 fs-7 py-2 mt-0 mb-4" type="button" routerLink="/login">{{"app.register.buttonBack"
      | translate}}</button>

    @if (error()) {
    @if (error()!.type === "RegistrationError") {
    <p class="text-red text-center">{{error()!.message}}</p>
    }
    }
  </form>
  } @else {
  <div class="custom-card">
    <p class="text-green fs-3 text-center">Registered succesfully!</p>
    <p class="mb-1">Verification link sent you <span class="fw-bold">by email</span>, check your account!</p>
    <p class="fs-7">* If you don't find it, check your spam folder</p>
    <a class="btn btn-dark w-100 fs-7 py-2 mt-4" routerLink="/login">Go to Login</a>
  </div>
  }

</app-auth-layout>