@use "../../../styles/variables" as *;

.login-form {
  width: 90vw;
  max-width: 460px;

  @media (min-width: $tabletAndUp) {
    width: 460px;
  }
}

.container-span {
  display: inline-block;
  position: relative;
}

.absolute-span {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-30px, 1px);
}
