<div class="page-title-container">
  <h1 class="page-title">Budgets</h1>
</div>
@if (!extendedBudgets()) {
<p class="h2 text-center py-5">Loading..</p>
} @else {

<div class="container p-0">
  <section class="diagram-section">
    <div
      class="custom-card d-flex flex-column flex-md-row flex-xl-column align-items-center gap-5"
    >
      <app-chart></app-chart>

      <div class="w-100">
        <h2 class="h5 fw-bold">Spending Summary</h2>
        <ul class="list-group w-100">
          @for (budget of extendedBudgets(); track budget) {
          <li class="list-group-item w-100 px-0 py-3">
            <div class="custom-border" [style.borderColor]="budget.theme"></div>
            <div
              class="m-0 ps-4 fs-7 text-grey-500 d-flex justify-content-between align-items-center w-100"
            >
              <span>{{ budget.category }}</span>
              <div>
                <span class="fs-7 fw-bold text-black ms-auto pe-2"
                  >${{ (budget.spentThisMonth * -1).toFixed(2) }}</span
                >
                of
                <span class="fs-8">${{ budget.maximum.toFixed(2) }}</span>
              </div>
            </div>
          </li>
          }
        </ul>
      </div>
    </div>
  </section>

  <section class="d-flex flex-column gap-4">
    @for (budget of extendedBudgets(); track budget) {

    <app-budget-card [budget]="budget" />

    }
  </section>
</div>
}

<button (click)="openModal()">Opoen modal</button>

<!-- Input Modal  -->
<app-modal
  [title]="'Add new Budget'"
  [subTitle]="
    'Choose a category to set a spending budget. Theese categories can help you monitor spendings.'
  "
  [modalOpened]="modalOpened()"
  (modalClosed)="onCloseModal($event)"
>
  <form (ngSubmit)="submitForm(budgetForm.value)" #budgetForm="ngForm">
    <label class="form-label" for="budget-category">Budget-category</label>
    <select
      class="form-control mb-3"
      id="budget-category"
      name="category"
      ngModel
    >
      @for (option of budgetOptions; track option) {
      <option [value]="option">{{ option }}</option>
      }
    </select>

    <label class="form-label" for="budget-max-spend">Maximum Spend</label>
    <input
      class="form-control mb-3"
      type="text"
      id="budget-max-spend"
      name="maximum"
      ngModel
    />

    <label class="form-label" for="budget-theme-select">Theme</label>
    <app-custom-select-input
      [options]="themeOptionsStrings()"
      [placeHolder]="'Select a theme'"
      name="theme"
      ngModel
    />

    <button type="submit" class="btn btn-dark w-100">Add Budget</button>
  </form>
</app-modal>
