<div class="page-title-container">
  <h1 class="page-title">Budgets</h1>
</div>

<div class="d-flex flex-column gap-5">
  @for (budget of budgets(); track budget) {

  <div class="custom-card" style="padding: 2rem">
    <div class="d-flex align-items-center pb-3">
      <div
        class="p-2 rounded-circle me-3"
        [style.backgroundColor]="budget.theme"
      ></div>
      <h2 class="budget-title m-0 fs-5 fw-bolder">{{ budget.category }}</h2>
    </div>

    <p class="fs-7 text-grey-500 m-0 pb-3">Maximum of {{ budget.maximum }}$</p>

    <!-- Custom progress bar -->
    <div class="progress-body mb-3">
      <div class="progress-bar" [style.backgroundColor]="budget.theme"></div>
    </div>

    <h2>Spent:</h2>

    <!-- Last spendings card -->
    <div class="list-group custom-card bg-beige-100 p-3">
      @if (!transactions()) {
      <div>Loading..</div>
      } @else { @for(transaction of filterTransactions(budget.category); track
      transaction) {

      <app-budget-card
        [transaction]="transaction"
        class="list-group-item"
      ></app-budget-card>

      } }
    </div>
  </div>
  }
</div>
