<header class="header">
  <img class="logo" src="/images/logo-large.svg" alt="">
</header>

<div class="content-container">
  <div class="image-container">
    <img class="image" src="/images/hero.svg" alt="">
    <div class="image-overlay">
      <div>
        <img src="/images/logo-large.svg" alt="">
      </div>

      <div>
        <p class="fs-2 text-white fw-bold ">
          <span class="d-block" [style.lineHeight]="1">{{"app.hero.line_1" | translate}}</span>
          <span class="d-block">{{"app.hero.line_2" | translate}}</span>
        </p>

        <p class="text-white fs-7">
          <span class="d-block"> {{"app.hero.line_3" | translate}}</span>
          <span class="d-block">
            {{"app.hero.line_4" | translate}}
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="form-container">
    <ng-content></ng-content>
  </div>
</div>