@use "../../../styles/variables" as *;

.page-title {
  padding-top: 6px;
  padding-bottom: 16px;
}

.bill-line {
  display: grid;
  grid-template-columns: 3fr 1fr;

  @media (min-width: $tabletAndUp) {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

.icon {
  width: 32px;
  border-radius: 100%;
}

.list-group-item:nth-child(1) {
  border-top: none;
}

.list-group-item:last-child {
  border-bottom: none;
}

.ps-0 {
  padding-left: 0 !important;
}
