@use "../../../../styles/variables" as *;

.settings-container {
  width: 80px;
  height: 80px;
  display: grid;
  place-content: center;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.settings-popup {
  position: absolute;
  top: 0;
  transform: translate(-120px, -110%);
  box-shadow: 3px 3px 10px rgba(black, 0.2);
  background-color: map-get($theme-colors, "grey-900");
  text-wrap: nowrap;

  @media (min-width: $desktopAndUp) {
    background-color: map-get($theme-colors, "grey-900");
    transform: translate(100px, -100px);
  }
}
