@if(showSettings()) {

<!-- Small screen Settings -->
<div class="settings-container" (click)="toggle()">

  <img [src]="imageUrl()" alt="">

  <!-- Popup -->
  @if(opened()) {
  <div class="settings-popup custom-card p-0 py-3" (click)="$event.stopPropagation()" #popup>
    <button class="btn p-3 text-white d-flex align-items-center gap-3" (click)="logOutClick()">
      <img src="/images/icon-logout.svg" alt="" width="24" height="24">
      <span class="mb-0">Log out</span>
    </button>

    <button class="btn p-3 d-flex align-items-center gap-3" (click)="openDeleteModalClick()">
      <img src="/images/icon-delete.svg" alt="" width="24" height="24">
      <span class="mb-0 text-red">Delete My Account</span>
    </button>
  </div>
  }
</div>

}